page-transaction {
    #trans-font{

    h1 {
        font-size: 12px;
        font-weight: bold;
    }
    h2 {
        font-size: 10px;
    }
    button{
        font-size: 10px;
        font-style: italic;
        top: 20px;
    }
}
}
